
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
          <div class="form-group">
            <label for="userName">User Name*</label>
            <input type="text" id="userName" name="userName" minlength="5" maxlength="10"
             class="form-control" ngModel #userName="ngModel" required  pattern="[a-zA-Z]+">
             <strong *ngIf="userName.touched && userName.hasError('required')"
              class="text-danger">
              userName is a required field.
             </strong>
             <strong *ngIf="userName.dirty && userName.hasError('pattern')"
             class="text-danger">
             userName not includes numbers and special Characters.
            </strong>
            <strong *ngIf="userName.dirty && userName.hasError('minlength')"
            class="text-danger">
            userName should contain min 5.
           </strong>
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" id="email" name="email"
             class="form-control" ngModel #email="ngModel" required
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
             <strong *ngIf="email.touched && email.hasError('required')"
              class="text-danger">
              Email is a required field.
             </strong>
             <strong *ngIf="email.dirty && email.hasError('pattern')"
             class="text-danger">
             Invalid email error.
            </strong>
          </div>
          <div class="form-group">
            <label for="contact">Contact*</label>
            <input type="text" id="contact" name="contact"
             class="form-control" ngModel #contact="ngModel" required
             pattern="^[0-9]{10}$">
             <strong *ngIf="contact.touched && contact.hasError('required')"
              class="text-danger">
              Contact is a required field.
             </strong>
             <strong *ngIf="contact.dirty && contact.hasError('pattern')"
             class="text-danger">
             Contact should contain number only and maximum length should be 10.
            </strong>
          </div>
          <div class="form-group">
            <label for="secreteQuestion">secreteQuestion*</label>
            <select name="secreteQuestion" id="secreteQuestion" class="form-control"
            #secreteQuestion="ngModel" ngModel required>
            <option value="favoriteBook">favoriteBook</option>
            <option value="favoriteSport">favoriteSport</option>
          </select>
          <strong *ngIf="secreteQuestion.touched && secreteQuestion.hasError('required')"
              class="text-danger">
              secreteQuestion is a required field.
             </strong>
          </div>
          <div class="form-group">
            <label for="answer">Answer*</label>
            <input type="text" name="answer" id="answer"
             class="form-control" ngModel #answer="ngModel" required>
             <strong *ngIf="answer.touched && answer.hasError('required')"
             class="text-danger">
             Answer is a required field.
            </strong>
          </div>
          <div class="form-group">
            <label for="isSubscribed">
              <input type="checkbox" id="isSubscribed" name="isSubscribed" ngModel>
              Subscribe for daily details.
            </label>
          </div>
          <div class="form-group" *ngFor="let moc of modeOfContact">
            <label [for]="moc.contactMode">
              <input type="radio" [id]="moc.contactMode" [value]="moc.contactMode"
              name="modeOfContact" ngModel>Contact by {{moc.contactMode}}</label>
          </div>
          <button mat-raised-button color="primary">Sign Up</button>
        </form>
      </mat-card>
    </div>
    <div class="col-md-6">
      <app-user></app-user>
    </div>
  </div>
</div>